main {
  min-height: 80vh;
}

/* Social Start */
@media only screen and (max-width: 670px) {
  div.social-container {
    display: none !important;
  }
}

.social-container {
  padding: 25px 5px;
  right: 0;
  top: 0;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

a.github {
  color: gray;
}
/* Social End */

.prof {
  height: 10vh;
  border-radius: 50%;
}
.projcard {
  height: 90vh;
}
.cardimg {
  height: 250px;
}
/* .cardbtn {
  position: relative;
  bottom: 0;
} */
